# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pkl

# Environments
.env
.venv/
venv/
env/

# Jupyter
.ipynb_checkpoints/

# VS Code
.vscode/

# Streamlit
.streamlit/

# Data
data/raw/
data/processed/
*.csv
*.parquet

# OS
.DS_Store
Thumbs.db
